@import "tailwindcss";

:root {
  --color-bg-component: #293645;
  --color-bg-main: #1f262e;
  --color-accent: #3aa794;
  --color-text: #e4e5e6;
  --color-bg-secondary: #6b7680;
  --font-anton: "Anton", sans-serif;
  --font-unica: "Unica One", sans-serif;
}
